body{
    background-color: #541428;
    color: aliceblue;
}
.cabecalho{
    background-color: #460D1B;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: cursive;
}
.menu{
    background-color: #460D1B;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-family: cursive;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px;
}
nav ul a{
    text-decoration: none;
    color: aliceblue;
}
#sobre{
    transition: 0.3s ease;
}
#sobre:hover{
    transform:scale(1.1); 
}
#fotoperfil{
    border-radius: 80px;
    height: 160px;
    width: 160px;
    border: 5px;
} 
#fotoperfil{
    transition:0.1s ease;
}
#fotoperfil:hover{
    transform:scale(1.1); 
}
#habilidades2{
    transition: 0.3s ease;
}
#habilidades2:hover{
    transform:scale(1.1); 
}
#projetos2{
    transition: 0.3s ease;
}
#projetos2:hover{
    transform:scale(1.1); 
}
#contatos2{
    transition: 0.3s ease;
}
#contatos2:hover{
    transform:scale(1.1); 
}
#sobremim, #habilidades, #projetos, #contatos{
    background-color: #460D1B;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-family: cursive;
    transition: 0.1s ease;
}
#contatos{
    background-color: #460D1B;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-family: cursive;    
}
#contatos a{
    text-decoration: none;
    color: aliceblue;  
}
#contatos{
    transition:0.1s ease;
}
#contatos:houver{
    transform:scale(1.1); 
}
#instagram, #email, #github{
    margin: 5px;
    padding: 5px;
}
footer{
    background-color: #460D1B;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-family: cursive;
}